<h4 style='text-align: center;'><%= t("site.task") %></h4>
<%= form_for(@task) do |f| %>
  <%= render 'shared/errors', obj: @task %>

  <div class="form-group">
    <%= f.label :content, '内容' %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="container">
    <div class="row">
      <%= f.submit "保存", class: 'btn btn-success col-xs-12' %>
    </div>
  </div>
<% end %>
