<div class='user-tasks index'>
<div class='profile'>
  <%= image_tag current_user.avatar, size: '80x80', class: 'img-circle', alt: current_user.nickname %>
</div>
<div class='list'>
  <div class='task'>
  <% if @task %>
    当前任务: <%= @task.title %>
  <% else %>
    <%= link_to new_task_path, class: 'new' do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
  <% end %>
  </div>
  <ul>
    <% @tasks.each do |a|  %>
      <li>
        <div class='title'>
          <%= a.title %>
        </div>
        <div class='opt'>
          <time class='timeago' datetime="<%= a.created_at.to_s(:iso) %>">
            <%= a.created_at %>
          </time>
          <% if a.active? %>
            <span>
              <%= link_to "编辑", edit_task_path(a) %>
              <%= link_to "完成", task_path(a), method: 'delete', data: {confirm: "确定该操作?"} %>
            </span>
          <% else %>
            <span class="label label-info">完成</span>
          <% end %>
        </div>
      </li>
    <% end %>
    <% if @tasks.empty? %>
      <li>
        <h3 class='cls-empty'>
          还没有任务
        </h3>
      </li>
    <% end %>
  </ul>
</div>

<%= paginate @tasks %>
</div>
