<div class="site attempts">
<div class='heading'>
  <i class="fa fa-rocket"></i>
</div>
<ul class='list'>
  <% @user_attempts.each do |ua| %>
    <li>
      <%= image_tag ua.user.avatar, size: '36x36', class: 'img-circle avatar' %>
      <div class='content'>
        <span class='created at'>
          <%= ua.created_at %>
        </span>
        <%= ua.user.nickname %>
        <div>
          <%= user_attempt_type(ua) %> 一次任务
          <%= link_to ua.attempt.title, ua.attempt %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
