<div class="user ailse border">
<div class='avatar'>
  <%=image_tag(current_user.avatar, size: '100x100') %>
</div>

<div class="media">
  <%= form_tag update_avatar_users_path, multipart: true, class: 'media-body' do %>
    <div class="m-b m-t" style="text-align: center">
      <%= file_field_tag :avatar %>
    </div>

    <div class="container">
      <div class="row">
        <%= submit_tag "更新", class: 'btn btn-success col-xs-12' %>
      </div>
    </div>
  <% end %>

  <div class="container navi">
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to edit_users_path do %>
          <%= icon('user') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
