<div class='cls-content'>
<div class="user ailse">
  <p>输入新密码</p>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <%= icon('key') %>
        </span>
        <%= f.password_field :password, placeholder: '密码(最少6位)', autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <%= icon('key') %>
        </span>
        <%= f.password_field :password_confirmation, placeholder: '重复密码', autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= f.submit "修改密码", class: "btn btn-success col-xs-12" %>
      </div>
    </div>
  <% end %>
</div>
<div class="pad-ver">
  <%= link_to "返回登录", new_user_session_path, class: 'btn-link mar-rgt' %>
</div>
</div>
