<div class='home index border'>
<% if current_user %>
  <% if @try %>
    <%= image_tag current_user.avatar, size: '100x100', class: 'img-circle center-block' %>
    <div class="content">
      <%= @try.attempt.content %>
    </div>
    <% if @try.active? %>
      <div class='row operator'>
        <div class='col-xs-6'>
          <%= link_to "放弃", discard_user_attempt_path(@try), method: 'post', class: 'discard' %>
        </div>
        <div class='col-xs-6'>
          <%= link_to "完成", done_user_attempt_path(@try), method: 'post' %>
        </div>
      </div>
    <% elsif @try.done?%>
      <div class='done'>
        <i class='fa fa-check'></i> 完成
      </div>
    <% elsif @try.discard? %>
      <div class='discard'>
        <i class='fa fa-close'></i> 放弃
      </div>
    <% end %>
  <% else %>
    <%= link_to '刷', user_attempts_path, method: :post, class: 'brush' %>
  <% end %>
<% else %>
  <%= link_to '刷', new_user_session_path, class: 'brush' %>
<% end %>
</div>
