<div class='home index border'>
<% if current_user %>
  <% if @try %>
    <%= image_tag current_user.avatar, size: '80x80', class: 'img-circle center-block' %>
    <div class="content">
      <%= @try.task.content %>
    </div>
    <% if @try.active? %>
      <div class='row operator'>
        <div class='col-xs-6 left' style='text-align: right;'>
          <%= link_to "放弃", discard_attempt_path(@try), method: 'post' %>
        </div>
        <div class='col-xs-6 right' style='text-align: left;'>
          <%= link_to "接受", done_attempt_path(@try), method: 'post' %>
        </div>
      </div>
    <% elsif @try.done?%>
      <div class='done'>
        <i class='fa fa-check'></i> 接受
      </div>
    <% elsif @try.discard? %>
      <div class='discard'>
        <i class='fa fa-close'></i> 放弃
      </div>
    <% end %>
  <% else %>
    <%= link_to '刷', attempts_path, method: :post, class: 'brush' %>
    <div class='tip'>
      每天可刷一次
    </div>
  <% end %>
<% else %>
  <%= link_to '刷', new_user_session_path, class: 'brush' %>
<% end %>
</div>
