<h4>
<%= I18n.t('home.title') %>
</h4>
<%= link_to I18n.t('home.dull'), moods_path, method: 'post', class: 'js_dull_btn' %>
<div>
  <% if @mood %>
    <% user = @mood.user %>
    <%= image_tag user.avatar, size: '60x60' %>
    <br />
    <%= link_to user.nickname, user.profile_url, target: :black %>
    <br />
    <div>
      <%= user.last_clicked_at %>
    </div>
  <% end %>
</div>
<% unless current_user %>
  <div>
    <%= link_to 'Log in with Facebook', user_omniauth_authorize_path(:facebook) %>
  </div>
<% end %>
