<div class='home index border'>
<div>
  <% if @state %>
    <% user = @state.user %>
    <%= image_tag user.avatar, size: '100x100', class: 'img-circle center-block' %>
    <div class='text-center item'>
      <%= user.nickname %>
    </div>
    <div class='text-center item'>
      <%= user.last_clicked_at %>
    </div>
  <% end %>
</div>
<div class='text-center item'>
  <% if current_user %>
    <div class="js-already-clicked hidden">
      <%= I18n.t("site.prompt.already_clicked") %>
    </div>

    <div class="container">
      <div class="row">
        <%= link_to I18n.t('home.state'), states_path, method: 'post', class: 'js-state-btn btn btn-success col-xs-12', data: {last_clicked_at: last_clicked_at} %>
      </div>
    </div>

    <div class="container navi">
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= link_to edit_users_path do %>
            <%= icon('user') %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <div class="row">
        <%= link_to '替换', new_user_session_path, class: 'btn btn-success col-xs-12' %>
      </div>
    </div>
  <% end %>
</div>
</div>
