<div class='user ailse in border'>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= icon('envelope-o') %>
      </span>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <%= icon('key') %>
      </span>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me, checked: true, class: 'hidden' %>
  <% end -%>

  <div class="container">
    <div class="row">
      <%= f.submit "登 录", class: 'btn btn-success col-xs-12' %>
    </div>
  </div>
<% end %>

<div class="other-links">
  <%= link_to "注册", new_user_registration_path %>
  <%= link_to "忘记密码?", new_password_path(resource_name), class: 'next' %>
</div>
</div>
