<div class="site tasks">
<div class='heading'>
  <i class="fa fa-rocket"></i>
</div>
<ul class='list'>
  <% @tasks.each do |task| %>
    <li>
      <%= image_tag task.user.avatar, size: '36x36', class: 'img-circle avatar' %>
      <div class='content'>
        <time class='created at timeago' datetime="<%= task.created_at.to_s(:iso) %>">
          <%= task.created_at.to_s(:iso) %>
        </time>
        <%= task.user.nickname %>
        <div>
          <%= link_to task.title, task %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
