<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>刷人生</title>
    <meta encoding="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <nav class='header'>
      <%= link_to "浏览", activities_path, class: 'explore' %>
      <%= link_to "B", "/", class: 'logo' %>
      <div class="pull-right user">
        <% if current_user %>
          <%= link_to t('site.task'), tasks_path %>
          <%= link_to edit_users_path do %>
            <%= image_tag current_user.avatar, size: '36x36', class: 'img-circle' %>
          <% end %>
          <%= link_to "退出", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "登录", new_user_session_path %>
          <%= link_to "注册", new_user_registration_path %>
        <% end %>
      </div>
    </nav>

    <div class='container'>
      <%= yield %>
    </div>

    <div class='footer'>
      &copy; 2016
      <%= link_to '关于我们', page_path(:about)%>
    </div>
    <%= render 'shared/analytics' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
