<!DOCTYPE html>
<html>
  <head>
    <title>刷人生</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <nav class='header'>
      <%= link_to "浏览", user_attempts_path, class: 'explore' %>
      <%= link_to "B", "/", class: 'logo' %>
      <div class="pull-right user">
        <% if current_user %>
          <%= link_to t('site.attempt'), attempts_path %>
          <%= link_to current_user.nickname, edit_users_path %>
          <%= link_to "退出", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "登录", new_user_session_path %>
          <%= link_to "注册", new_user_registration_path %>
        <% end %>
      </div>
    </nav>

    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
