<!DOCTYPE html>
<html>
  <head>
    <title>Nabro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='head'>
      <% if current_user %>
        <%= link_to t("site.edit"), edit_users_path %>
        <%= link_to t("site.edit_avatar"), update_avatar_users_path %>
        <%= link_to t("site.sign_out"), destroy_user_session_path, method: :delete %>
        <br />
        <%= current_user.last_clicked_at %>
      <% end %>
    </div>

    <div class='container'>
      <%= yield %>
    </div>

  </body>
</html>
