<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>刷人生 - 想让自己变得更好</title>
    <meta encoding="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>
  <body>
    <div id='container' class='cls-container'>
      <div id="bg-overlay" class="bg-img-ballon" data-ibg-bg=<%= image_path('bg-img-balloon.jpg') %> ></div>
      <div class="cls-header cls-header-lg">
        <div class="cls-brand">
          <a class="box-inline" href="/">
            <span class="brand-title">刷人生</span>
          </a>
          · 在这里
        </div>
      </div>
      <%= yield %>
    </div>
    <%= render 'shared/analytics' %>
  </body>
</html>
